table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.bor {
  border: 1px solid;
}
.center {
text-align: center;
}

.izq{
text-align: left;
border-right-color: #CCC;
border-bottom-color: #CCC;
border-bottom-width: 0;
border-right-width: 0;
}

.der{
text-align: right;
border-left-color: #CCC;
border-bottom-color: #CCC;
border-bottom-width: 0;
border-left-width: 0;
}

.bot{
border-top-width: 0;
border-bottom-width: 1;
border-bottom-color: #black;
}

.bot1{
border-top-width: 0;
border-bottom-width: 1;
border-bottom-color: #black;
}

.size0{
width: 15%;
font-size: 12px;
height: 17px;
padding: 4px;
}

.size1{
width: 50%;
height: 17px;
font-size: 12px;
padding: 4px;
}

.size2{
width: 20%;
font-size: 12px;
height: 17px;
padding: 4px;
}

.size3{
width: 20%;
font-size: 12px;
height: 17px;
padding: 4px;
}
